*{
	margin: 0;
	height: 100%;
	box-sizing: border-box;
}

body{

	display: grid;
	grid-template-areas: 
	"header header"
	"aside main"
	"footer footer";
	grid-template-columns: 100px 1fr;
	grid-template-rows: 80px 1fr 40px;
	background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);

}

header{

	grid-area: header;
	background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
	display: flex;
	justify-content: space-between;
	padding-top: 15px;

}

main{
	grid-area: main;
	height: 100%;
	width: 100%;
	display: flex;
}

aside{
	grid-area: aside;
	height: 100%;
	ackground: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
	padding-rigth: 20px;



}

footer{
	grid-area: footer;
	background-color: grey;
}

a{
	text-decoration: none;
	color: rgb(220,220,220);
}

h3{
	width: 250px;
	height: 100px;
	padding-left: 10px;
	padding-top: 10px;

}


.icons-top{
	height: 50px;
	width: 50px;
	margin: 0 10px;
}

.list-nav{

	list-style: none;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	margin-bottom: 50px;
	margin-right: 15px;
	justify-content: space-between;
	color: rgb(220,220,220);

}

.list-position{
	width: 100px;
	height: 80px;


	


}

.conteudo-box-text{
	width: 45%;
	height: 40%;
	overflow-wrap: break-word;
	color: rgb(211,211,211);
	margin: 30px;
	padding-bottom: 60px;
	padding-left: 15px;
	padding-right: 10px;
	border: solid red 1px;
	background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
	box-sizing: content-box;
}

.foto-box{
	width: 90%;
	height: 40%;
	align-content: center;

}


